calculator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://tempuri.org/"
    xmlns="http://tempuri.org/"
    elementFormDefault="qualified">

  <xsd:element name="Add">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="intA" type="xsd:int"/>
        <xsd:element name="intB" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="AddResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AddResult" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Subtract">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="intA" type="xsd:int"/>
        <xsd:element name="intB" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SubtractResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SubtractResult" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Multiply">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="intA" type="xsd:int"/>
        <xsd:element name="intB" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="MultiplyResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="MultiplyResult" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Divide">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="intA" type="xsd:int"/>
        <xsd:element name="intB" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DivideResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DivideResult" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>